{% extends "students/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block meta_title %}Видалити студентів{% endblock %}
{% block title %}Видалити студентів{% endblock %}

{% block content %}
    <form id="multidel" action="{% url 'students_multidel' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for student in students %}
            <p><input type="hidden" name="for_del" value="{{ student.id }}" />
                {{ student.last_name }} {{ student.first_name }}</p>
        {% endfor %}
        <p>Ви дійсно хочете видалити студентів?</p>
        <input type="submit" value="Yes" name="delete_button" class="btn btn-danger" />
        <input type="submit" value="No" name="cancel_button" class="btn btn-info" />
    </form>
{% endblock %}
